/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
= =                                                                       = =
= =                                 START                                 = =
= =                                                                       = =
= =                                                                       = =
= =                               MY  RULES                               = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
= =                                                                       = =
   ========================================================================== */


   /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
   /*                                                                         */
   /*                                                                         */
   /*                                                                         */
   /*                                  INDEX                                  */
   /*                                                                         */
   /*                                                                         */
   /*                                                                         */
   /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.bodyindex{
  background-image: url(../img/fond.svg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}


/*~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~*/
.navtabletdesktop{
  display: none;
}

.navmobile{
  background-color: green;
  position: fixed;
  z-index: 2;
}

.burger{
  width: 40px;
  height: auto;
  margin: 20px;
}

.navmobiletext{
  background-color: blue;
}

.navmobiletext ul{
  list-style: none;
}

.burger:focus .navmobiletext{
  height: 0;
}


/*~~~~~~~~~~~~~~~ END HEADER ~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ WELCOME ~~~~~~~~~~~~~~~*/
.welcomeanimcontainer{
  display: none;
}

.welcomeanimcontainermobile{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.lettermobile1, .lettermobile2, .lettermobile3, .lettermobile4, .lettermobile5, .lettermobile6, .lettermobile7{
  height: 90px;
  width: auto;
}

.welcomeanimmobile{
  width: 320px;
  overflow: hidden;
}

.lettermobile1{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.lettermobile2{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.lettermobile3{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.lettermobile4{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.lettermobile5{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 0.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.lettermobile6{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.lettermobile7{
  visibility: hidden;
  position: relative;
  animation-name: transition_mobile;
  animation-duration: 6s;
  animation-delay: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes transition_mobile {
  from{
    left: -360px;
    visibility: visible;
  }

  to{
    left: 0px;
    visibility: visible;
  }
}



/*~~~~~~~~~~~~~~~ END WELCOME ~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ FLO ~~~~~~~~~~~~~~~*/
.flo{
  color: white;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  font-size: 1.6em;
}
/*~~~~~~~~~~~~~~~ END FLO ~~~~~~~~~~~~~~~*/



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~ @MEDIA 650px ~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



@media (min-width:650px){
/*~~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~~*/
header{
  height: 70px;
  display: flex;
  align-items: center;
}

.navtabletdesktop{
  display: inline-block;
}

.navtabletdesktop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  list-style: none;
}

.navmobile{
  display: none;
}

header ul li a{
  color:white;
  font-size: 1.2em;
  padding: 10px;
  transition:0.3s;
  position: relative;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}

header ul li a:hover{
  text-decoration: none;
  transition:0.2s;
  top: -2px;
  color: white;
  border-bottom: solid 2px rgb(255,202,58);
}

/*~~~~~~~~~~~~~~~ END HEADER ~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~ WELCOME ~~~~~~~~~~~~~~~*/
.welcomeanimcontainermobile{
  display: none;
}

.welcomeanimcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.letter1{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.letter2{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.letter3{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.letter4{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.letter5{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 1.6s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.letter6{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.letter7{
  visibility: hidden;
  position: relative;
  animation-name: transition_1;
  animation-duration: 6s;
  animation-delay: 1.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes transition_1 {
  from{
    top: -360px;
    visibility: visible;
  }


  33%{
    top: -236px;
  }

  66%{
    top: -120px;
  }

  to{
    top: -2px;
    visibility: visible;
  }
}

.welcomeanim{
  height: 115px;
  overflow: hidden;
}

.letter1, .letter2, .letter3, .letter4, .letter5, .letter6, .letter7{
  width:auto;
  height: 350px;
}
/*~~~~~~~~~~~~~~~ END WELCOME ~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~ FLO ~~~~~~~~~~~~~~~*/
.flo{
  font-size: 2em;
}
/*~~~~~~~~~~~~~~~ END FLO ~~~~~~~~~~~~~~~*/
}





/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*                                                                         */
/*                                                                         */
/*                                                                         */
/*                                  MY WORK                                */
/*                                                                         */
/*                                                                         */
/*                                                                         */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/





   /* ==========================================================================
   = =                                                                       = =
   = =                                  END                                  = =
   = =                                                                       = =
   = =                                                                       = =
   = =                               MY  RULES                               = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
   = =                                                                       = =
      ========================================================================== */


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
